.navBarContainer{
    /* position: fixed;
    display: flex;
    flex-direction: column;
    width: 95px;
    height: 101svh; */

    /* position: fixed; */
    position: sticky;
    top: 0;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* width: 151px; */
    height: 100svh;
}

.testContainer{
    display: flex;
    flex-direction: column;
    height: inherit;
    /* justify-content: center; */
    width: 100px;
}

.list{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
}

.listContainer{
    height: 100%;
}

/* dividers */
.topLineContainer{max-height: 20px;}

.topLineDivider{
    position: relative;
    margin-bottom: 20px;
    /* left: 13px; */
    width: 80px;
    height: 1px;
    /* top: 102px; */
}

.bottomLineContainer{max-height: 20px;}

.bottomLineDivider{
    position: relative;
    margin-top: 20px;
    /* left: 13px; */
    width: 80px;
    height: 1px;
    /* top: 89vh; */
}

.navLineDivider{
    height: 100vh;
    width: 50px;
    border-radius: 57px/73px 0px 0px 0px;
    border: 0.1px solid;
    border-bottom: none;
    border-right: none;
    bottom: 1px;
    /* left: 94px; */
    position: relative;
}
/* ^ */

/* profile styles */
.profileContainer{
    /* position: relative; */
    /* top: 22px; */
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    /* left: 17px; */
}

.profileCircle{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    /* position: absolute; */
    box-shadow: 0 0.6rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    cursor: pointer;
}

.profileCircle:hover  .pSelectionHighlight{
    display:block;

} @keyframes pFadeInAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.pSelectionHighlight{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(68, 97, 248, 1);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    position: absolute;
    margin: -8px;
    /* bottom: -8px; */
    z-index: 1;
    /* left: -8px; */
    pointer-events: none;
    display: none;
    animation: pFadeInAnimation ease-in 1s;
}

.inputRadioOne{
    display: none;  
}
/* ^ */

/* project styles */ 
.projectList{
    list-style: none;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 400px; */
    height: 100%;
    /* top: 74px; */
    margin: 0;
    /* left: 17px; */
}

.project{
    /* margin: 34px 0px 34px 0px; */
    display: flex;
    justify-content: center;
    height: 68px;
    align-items: center;
}
/* ^ */

/* first project styles */
.projectCircle{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    /* display: block; */
    box-shadow: 0 0.6rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    cursor: pointer;
    z-index: 4;
}

.firstIcon{
    position: relative;
    /* bottom: 47px;
    left: -2px; */
    height: 60px;
    width: 60px;
    pointer-events: none;
}

.ribbon{
    position: relative;
    bottom: -37px;
    left: 32px;
    z-index: 1;
    pointer-events: none;
}

.SelectionHighlight{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(96, 198, 87, 1);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    position: absolute;
    margin: -8px;
    /* bottom: -8px;
    left: -8px; */
    z-index: 1;
    pointer-events: none;
    display: none;
    animation: sFadeInAnimation ease-in-out 1s;
}

.projectCircle:hover  .SelectionHighlight{
    display:block;

}@keyframes sFadeInAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.inputRadioTwo{
    display: none;
}
/* ^ */

/* commented out */
.innerCircle3{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(96, 198, 87, 1);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    position: absolute;
    top: 120px;
    left: -8px;
    z-index: 1;
    pointer-events: none;
    display: none;
    animation: fadeInAnimation1 ease-in-out 1s;
}

.label1{
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    stroke: rgb(52, 44, 152);
    box-shadow: 0 0.6rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    cursor: pointer;
    /* margin: 34px 0px 0px 0px; */
}

.label1:hover  .innerCircle3{
    display:block;
} @keyframes fadeInAnimation1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.theSelectionThree{
    display: none;
}

.darkmodeContainer{
    flex-grow: 1;
    height: 120px;
}

/* ^ */

/* testing */ 
.inputRadioOne:checked ~ .profileCircle{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(68, 97, 248, 1);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    /* bottom: -68px;
    left: -8px; */
    z-index: 1;
    pointer-events: none;
}

.inputRadioTwo:checked ~ .projectCircle{
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(96, 198, 87, 1);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    /* position: absolute;
    top: 26px;
    left: -8px; */
    z-index: 1;
    pointer-events: none;
}

/* .theSelectionThree:checked + .label1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: rgba(96, 198, 87, 1);
    box-shadow: 0 0.8rem 0.3rem -0.4rem hsla(0, 0%, 0%, 0.25);
    z-index: 1;
    position: absolute;
    left: -8px;
    top: 80px;
    pointer-events: none;
} */
/* ^ */

/* media querys */
@media(max-width: 431px){
    .profileContainer{
        margin-bottom: 10px;
        margin-top: 10px;
        min-height: 60px;
    }

    .topLineContainer{
        max-height: 10px;
    }

    .bottomLineContainer{
        max-height: 10px;
    }

    .bottomLineDivider{
        width: 45px;
    }

    .topLineDivider{
        width: 45px;
    }

    .testContainer{
        width: 65px;
    }

    .projectCircle{
        height: 40px;
        width: 40px;
    }

    .profileCircle{
        height: 40px;
        width: 40px;
    }

    .homeIcon{
        height: 30px;
        width: 30px;
    }

    .inputRadioOne:checked ~ .profileCircle{
        border-width: 5px;
    }

    .inputRadioTwo:checked ~ .projectCircle{
        border-width: 5px;
    }
}


@media(max-width: 1050px){
   .navLineDivider{
    width: unset;
   }
}

/* iphone xr */ 
@media(max-width: 932px) and (orientation: landscape){
    .navLineDivider{
        width: unset;
       }
}

/* iphone xr */ 
@media(max-width: 897px) and (orientation: landscape){
    .navLineDivider{
        width: unset;
       }
}

@media(width: 820px) and (height: 1180px){
    .navLineDivider{
        width: unset;
       }
}

@media(width: 912px) and (height: 1368px){
    .navLineDivider{
        width: unset;
       }
}
@media(width: 1024px) and (height: 1366px){
    .navLineDivider{
        width: unset;
       }
}

